{% load money %}
<div id="accounts">

  <!-- render the search form -->
  <form id="search-form"
      hx-get="{{ request.path }}"
      hx-push-url="true"
      hx-swap="outerhtml"
      hx-target="#accounts"
      hx-trigger="change">
    {{ filter_form }}
  </form>

  <h6>Analytics by budget categories</h6>
  <table>
      <tr>
          <th>Category</th>
          <th>Turnover</th>
          <th>Expenses</th>
          <th>Operating</th>
      </tr>
      {% for line in analytic %}
      <tr>
          <td>{{ line.type }}</td>
          <td>{{ line.turnover|money }}</td>
          <td>{{ line.expenses|money }}</td>
          <td>{{ line.operating|money }}</td>
      </tr>
      {% endfor %}
      <tr>
          <td>TOTAL</td>
          <td>{{ analytic_totals.tot_turnover|money }}</td>
          <td>{{ analytic_totals.tot_expenses|money }}</td>
          <td>{{ analytic_totals.tot_operating|money }}</td>
      </tr>
  </table>
  <h6>General accounting</h6>
    <table>
      <th>Turnover: {{ accounts.results.turnover|money }}</th>
      <th>Expenses: {{ accounts.results.expenses|money }}</th>
      <th>Operating: {{ accounts.results.operating|money }}</th>
    </table>
  {% include 'bookkeeper/widgets/account_balances.html' %}

  <p style="text-align: center;">
      <a href="{% url 'account-export' %}?{{ request.GET.urlencode }}">Export account details</a>
  </p>

</div>
