{% load static %}
{% load money %}

<div id="budgets">

  <!-- Modal -->
  <dialog id="budget-modal">
    <article>
      <a href="" aria-label="Close" class="close"
        _="on click halt the event then toggle @open on #budget-modal"
        ></a>
      <div id="budget-modal-content"></div>
    </article>
  </dialog>

  <!-- New button -->
  <div style="float: right; margin-bottom: 10px;">
    <a href=""
       role="button"
       hx-get="{% url 'budget-create' %}"
       hx-target="#budget-modal-content"
       _="on htmx:afterOnLoad toggle @open on #budget-modal"
       >New</a>
  </div>

  <div style="clear: both;"></div>

  <!-- display filters form -->
  <form id="filters-form"
      hx-get="{% url 'budget-list' %}"
      hx-push-url="true"
      hx-swap="outerhtml"
      hx-target="#budgets"
      hx-trigger="change">
    <div class="grid">
        {{ filters.type }}
        {{ filters.status }}
        {{ filters.supervisor }}
        {{ filters.name }}
    </div>
    <img class="htmx-indicator" src="{% static 'bookkeeper/bars.svg' %}" style="height: 30px;">
    <label for="{{ filters.open.id_for_label }}" style="display: inline-block;">
      {{ filters.close }}
      {{ filters.close.label }}
    </label>
  </form>

  <em>Count: {{ budgets|length }}</em>
  <table id="results" role="grid">
    <tr>
      <th></th>
      <th></th>
      <th>Budget</th>
      <th>Objective</th>
      <th>Status</th>
      <th>Supervisor</th>
    </tr>
    {% for budget in budgets %}
    <tr>
      <td class="button-image-cell">
        {% if budget.to_distribute > 0 %}
        <img src="{% static 'bookkeeper/caution.svg' %}">
        {% elif budget.to_distribute < 0 %}
        <img src="{% static 'bookkeeper/crossroads.svg' %}">
        {% else %}
        <img src="{% static 'bookkeeper/check.svg' %}">
        {% endif %}
      </td>
      <td class="button-image-cell">
        {% if budget.pending.exists %}
        <img src="{% static 'bookkeeper/clock.svg' %}">
        {% endif %}
      </td>
      <td>
          <a href="{% url 'budget-detail' budget.code %}">
              {% if budget.status == 'C' %}
              <s>{{ budget }}</s>
              {% else %}
              {{ budget }}
              {% endif %}
          </a>
      </td>
      <td>{{ budget.objective }}</td>
      <td>{{ budget.to_distribute|money }}</td>
      <td>{{ budget.supervisor }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No budget found.</td></tr>
    {% endfor %}
  </table>
</div>
