{% load widget_tweaks %}

<div class="grid">
  {{ form.file | attr:"form:import" }}
  {{ form.account | attr:"form:import" }}
</div>
<form id="import" enctype="multipart/form-data"
    hx-post=""
    hx-swap="innerhtml"
    hx-target="#info .message"
    >
  <div class="grid">
    <button name="preview" type="submit">Check</button>
    <button name="save" type="submit">Import</button>
  </div>
</form>
