<article id="content">
  {% if router_form %}
  <form id="router-form"
      hx-get="{{ request.path }}"
      hx-push-url="true"
      hx-swap="outerHTML"
      hx-target="#content"
      hx-trigger="change">
    {{ router_form.type }}
    {% comment %}
    Using "{{ request.get_full_path }}" keeps params between reloads but it requires
    an upsert of the "type" parameter to avoid messy urls.
    {% endcomment %}
  </form>
  {% endif %}

  <form id="transaction-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid">
      <div></div>
      <div></div>
      <button type="submit">Validate the transaction</button>
    </div>
    {{ form }}
  </form>

  <footer>
    <a href="{% url 'transaction-import' %}" style="text-align:center;">Import operations from bank</a>
  </footer>

</article>
