{% load static %}
{% load money %}

<!-- top page container for swapping -->
<div id="content">

    {% if reconciliation_account %}
      {% if reconciliation_account.balance %}
      <p style="color:orange;text-align:center;">Looking for {{ reconciliation_account.balance }} in {{ reconciliation_account }}</p>
      {% else %}
      <p style="color:green;text-align:center;">All good !</p>
      {% endif %}
    {% else %}
      <p style="color:red;text-align:center;">Account to reconcile not identified</p>
    {% endif %}

  <table role="grid">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">N°</th>
      <th scope="col">Date</th>
      <th scope="col" style="text-align:right;">Tax incl.</th>
      <th scope="col">Budget</th>
      <th scope="col">Payee</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {% for transaction, form in group_transactions %}
      <tr>
        <th scope="row" class="button-image-cell">
          <a href="{{ transaction.get_absolute_url }}">
            {% if transaction.clearable %}
            <img src="{% static 'bookkeeper/bill.svg' %}">
            {% else %}
            <img src="{% static 'bookkeeper/bank.svg' %}">
            {% endif %}
          </a>
        </th>
        <td><a href="{{ transaction.get_absolute_url }}">#{{ transaction.id }}</a></td>
        <td>{{ transaction.date }}</td>
        <td style="text-align: right;">
            {% if transaction.clearable %}
            {{ transaction.tax_incl|default_if_none:""|money }}
            {% else %}
            {{ transaction.tax_incl|default_if_none:""|money:False }}
            {% endif %}
        </td>
        <td><a href="{{ transaction.budget.get_absolute_url }}">{{ transaction.budget.code }}</a></td>
        <td>{{ transaction.payee }}</td>
        <td class="button-image-cell">
            <form>
                {{ form }}
                <img src="{% static 'bookkeeper/minus.svg' %}"
                     hx-post="{{ self.request }}"
                     hx-trigger="click"
                     hx-target="#content"
                     hx-swap="outerHTML"
                 >
            </form>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

  <details>
      <summary>Add a pending operations</summary>
      <table>
        <thead>
            <tr>
                <th></th>
                <th colspan="5">
                    <input _="on input show <tbody>tr/> in closest <table/>
                               when it's textContent.toLowerCase() contains my value.toLowerCase()">
                </th>
                <th></th>
            </tr>
            <tr>
               <th scope="col"></th>
               <th scope="col">N°</th>
               <th scope="col">Date</th>
               <th scope="col" style="text-align:right;">Tax incl.</th>
               <th scope="col">Reference</th>
               <th scope="col">Payee</th>
               <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          {% for operation, form in pending_operations %}
          <tr>
              <th scope="row" class="button-image-cell">
                <a href="{{ operation.get_absolute_url }}">
                  <img src="{% static 'bookkeeper/bank.svg' %}">
                </a>
              </th>
              <td><a href="{{ operation.get_absolute_url }}">#{{ operation.id }}</a></td>
              <td>{{ operation.date }}</td>
              <td style="text-align:right;">{{ operation.tax_incl }}</td>
              <td>{{ operation.evidence_ref }}</td>
              <td>{{ operation.payee }}</td>
              <td class="button-image-cell">
                  <form>
                      {{ form }}
                      <img src="{% static 'bookkeeper/plus.svg' %}"
                         hx-post="{{ self.request }}"
                         hx-trigger="click"
                         hx-target="#content"
                         hx-swap="outerHTML"
                       >
                  </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </details>

  <details>
      <summary>Add a pending records</summary>
      <table>
        <thead>
            <tr>
                <th></th>
                <th colspan="5">
                    <input _="on input show <tbody>tr/> in closest <table/>
                               when it's textContent.toLowerCase() contains my value.toLowerCase()">
                </th>
                <th></th>
            </tr>
            <tr>
               <th scope="col"></th>
               <th scope="col">N°</th>
                <th>Date</th>
                <th style="text-align:right;">Tax incl.</th>
                <th>Budget</th>
                <th>Payee</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for record, form in pending_records %}
          <tr>
              <th scope="row" class="button-image-cell">
                <a href="{{ operation.get_absolute_url }}">
                  <img src="{% static 'bookkeeper/bill.svg' %}">
                </a>
              </th>
              <td><a href="{{ record.get_absolute_url }}">#{{ record.id }}</a></td>
              <td>{{ record.date }}</td>
              <td style="text-align:right;">{{ record.tax_incl }}</td>
              <td>{{ record.budget }}</td>
              <td>{{ record.payee }}</td>
              <td class="button-image-cell">
                  <form>
                      {{ form }}
                      <img src="{% static 'bookkeeper/plus.svg' %}"
                           hx-post="{{ self.request }}"
                           hx-trigger="click"
                           hx-target="#content"
                           hx-swap="outerHTML"
                       >
                  </form>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </details>

  <details>
      <summary>Check balances of involved accounts</summary>
      <table>
          <thead>
              <tr>
                  <td>Account</td>
                  <td>Balance</td>
              </tr>
          </thead>
          <tbody>
              {% for account in accounts %}
              <tr>
                  <td>{{ account }}</td>
                  <td>{{ account.balance|money:False }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </details>

</div>
