{% load static %}
{% load money %}
{% load query_update %}
<div id="transactions">

  <!-- action buttons -->
  <div style="float: right; margin-bottom: 10px;">
    <a role="button" href="{% url 'transaction-create' %}">New</a>
  </div>
  <div style="clear: both;"></div>

  <!-- render the filter form -->
  <form id="filter-form"
      hx-get="{% url 'transaction-list' %}"
      hx-push-url="true"
      hx-swap="outerhtml"
      hx-target="#transactions"
      hx-trigger="change">
    {{ filter_form }}
  </form>

  <!-- pagination controls -->
  <div style="float: right;">
    {% if page_obj.has_previous %}
    <a href="?{% query_update page=1 %}">&laquo;</a>
    <a href="?{% query_update page=page_obj.previous_page_number %}">&lsaquo;</a>
    {% endif %}

    <em>page {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</em>

    {% if page_obj.has_next %}
    <a href="?{% query_update page=page_obj.next_page_number %}">&rsaquo;</a>
    <a href="?{% query_update page=page_obj.paginator.num_pages %}">&raquo;</a>
    {% endif %}
  </div>
  <em>{{ page_obj.paginator.count }} transactions</em>

  <!-- display the results -->
  <table id="results" class="grouped">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Date</th>
      <th scope="col" style="text-align:right;">Tax excl.</th>
      <th scope="col" style="text-align:right;">Tax incl.</th>
      <th scope="col">Budget</th>
      <th scope="col">Payee</th>
    </tr>
    {% for transaction in transactions %}
    <!-- group: {{ transaction.group_number }}/{{ transaction.group_total }} -->

    {% if not transaction.group_total or transaction.group_number == 1 %}
    <!-- opening group: {{ transaction.group_number }}/{{ transaction.group_total }} -->
    <tbody>
    {% endif %}

    <tr>
        {% comment %}Manage grouped items{% endcomment %}
        {% if transaction.group_total %}
          {% if transaction.group_number == 1 %}
          <td class="button-image-cell" rowspan="{{ transaction.group_total }}">
            <a href="{{ transaction.group.get_absolute_url }}">
              <img src="{% static 'bookkeeper/chain.svg' %}">
            </a>
          </td>
          {% endif %}
        {% else %}
        {% comment %}Manage ungrouped items{% endcomment %}
          {% if transaction.group %}
          <td class="button-image-cell">
            <a href="{{ transaction.group.get_absolute_url }}">
              <img src="{% static 'bookkeeper/chain.svg' %}">
            </a>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        {% endif %}

        {% if transaction.clearable %}

        <td class="button-image-cell">
          <a href="{{ transaction.get_absolute_url }}">
            <img src="{% static 'bookkeeper/bill.svg' %}">
          </a>
        </td>
        <td>{{ transaction.date }}</td>
        <td style="text-align: right;">{{ transaction.tax_excl|money }}</td>
        <td style="text-align: right;">{{ transaction.tax_incl|money }}</td>

        {% else %}

        <td class="button-image-cell">
          <a href="{{ transaction.get_absolute_url }}">
            <img src="{% static 'bookkeeper/bank.svg' %}">
          </a>
        </td>
        <td>{{ transaction.date }}</td>
        <td style="text-align: right;">{{ transaction.tax_excl|money:False }}</td>
        <td style="text-align: right;">{{ transaction.tax_incl|money:False }}</td>

        {% endif %}

        <td>
            {% if transaction.budget %}
            <a href="{% url 'budget-detail' transaction.budget.code %}">{{ transaction.budget.code }}</a>
            {% endif %}
        </td>
        <td>{{ transaction.payee }}</td>
    </tr>

    {% if not transaction.group_total or transaction.group_number >= transaction.group_total %}
    <!-- closing group: {{ transaction.group_number }}/{{ transaction.group_total }} -->
    </tbody>
    {% endif %}

    {% empty %}

    <tr><td colspan="7">No transaction found</td></tr>

    {% endfor %}
  </table>

  <!-- pagination controls -->
  <div style="float: right;">
    {% if page_obj.has_previous %}
    <a href="?{% query_update page=1 %}">&laquo;</a>
    <a href="?{% query_update page=page_obj.previous_page_number %}">&lsaquo;</a>
    {% endif %}

    <em>page {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</em>

    {% if page_obj.has_next %}
    <a href="?{% query_update page=page_obj.next_page_number %}">&rsaquo;</a>
    <a href="?{% query_update page=page_obj.paginator.num_pages %}">&raquo;</a>
    {% endif %}
  </div>
  <em>{{ page_obj.paginator.count }} transactions</em>
  <p style="text-align: center;">
      <a href="{% url 'transaction-export' %}?{{ request.GET.urlencode }}">Export transactions</a>
  </p>

</div>
