{% load static %}
{% load help_url %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'bookkeeper/pico.min.css' %}">
    <link rel="stylesheet" href="{% static 'bookkeeper/custom.css' %}">

    <script src="{% static 'bookkeeper/htmx.min.js' %}" defer></script>
    <script src="{% static 'bookkeeper/_hyperscript.min.js' %}" defer></script>
    {% django_htmx_script %}

    <title>Bookkeeper</title>
</head>

<!-- inject CSRF token in all HTMX requests -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main class="container">

        <nav>
            <ul>
                <li><a href="{% help_url %}"><img src="{% static 'bookkeeper/lifebuoy.svg' %}" style="min-width: 30px;"></a></li>
                <li><a href="{% url 'account-list' %}">Accounts</a></li>
                <li><a href="{% url 'transaction-list' %}">Transactions</a></li>
                <li><a href="{% url 'budget-list' %}">Budgets</a></li>
            </ul>
        </nav>

        <dialog id="info">
          <article>
            <header>
              <a href="" aria-label="Close" class="close"
                 _="on click halt the event then remove [@open] from closest <dialog/>"
                  ></a>
            </header>
            <p class="message"
                _="on htmx:afterSwap add [@open] to closest <dialog/>"
                ></p>
          </article>
        </dialog>

        <dialog id="errors">
          <article>
            <header>
              <a href="" aria-label="Close" class="close"
                 _="on click halt the event then remove [@open] from closest <dialog/>"
                  ></a>
            </header>
            <p _="on htmx:afterSwap add [@open] to closest <dialog/>"></p>
          </article>
        </dialog>

        <dialog id="confirm">
          <article>
            <header>
              <a href="" aria-label="Close" class="close"
                 _="on click halt the event then remove [@open] from closest <dialog/>"
                  ></a>
            </header>
            <p _="on htmx:afterSwap add [@open] to closest <dialog/>"></p>
          </article>
          <footer>
              <a href="#" aria-label="Confirm" class="primary"></a>
          </footer>
        </dialog>

        {% block content %}{% endblock %}
    </main>
</body>
</html>
