{% extends "./base.html" %}
{% load static %}
{% load money %}

{% block content %}

  <!-- Modal -->
  <dialog id="budget-modal">
    <article>
      <a href="" aria-label="Close" class="close"
        _="on click halt the event then toggle @open on #budget-modal"
        ></a>
      <div id="budget-modal-content"></div>
    </article>
  </dialog>

  <h1>{{ budget }}</h1>
  <div style="float: right;">
      <a href="{% url 'transaction-create' %}?budget={{ budget.code }}&type=sale"
          role="button">New transaction</a>
      <a href=""
          role="button"
          hx-get="{% url 'budget-edit' code=budget.code %}"
          hx-target="#budget-modal-content"
          _="on htmx:afterOnLoad toggle @open on #budget-modal"
          >Edit</a>
  </div>

  <ul>
      <li>Supervisor: {{ budget.supervisor }}</li>
      <li>Objective: {{ budget.objective_num|money }}</li>
      <li>
          {% if budget.to_distribute > 0 %}Missing:{% else %}Available:{% endif %}
          {{ budget.to_distribute|money }}
      </li>
      {% if liabilities %}
      <li style="text-decoration:underline;">Liabilities in accounts: {{ liabilities|join:', ' }}</li>
      {% endif %}
      {% if budget.exceptional %}
      <li>Exceptional result: {{ budget.exceptional|money }}</li>
      {% endif %}
  </ul>
  <details>
    <summary>Account balances</summary>
    <table>
      <th>Turnover: {{ budget.turnover|money }}</th>
      <th>Expenses: {{ budget.expenses|money }}</th>
      <th>Operating: {{ budget.operating|money }}</th>
    </table>
    {% include 'bookkeeper/widgets/account_balances.html' with accounts=accounts %}
  </details>
  <details open>
    <summary>Last transactions</summary>
    <p style="text-align:right;"><a role="button" class="secondary" href="{% url 'transaction-list' %}?budget={{ budget.code }}&group=on">See all transactions</a></p>
    <table role="grid">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col" style="text-align:right;">Tax excl.</th>
        <th scope="col" style="text-align:right;">Tax incl.</th>
        <th scope="col">Reference</th>
        <th scope="col">Payee</th>
      </tr>
      {% for transaction in transactions %}
      <tr>
        {% if transaction.clearable %}

        <td class="button-image-cell">
          <a href="{{ transaction.get_absolute_url }}">
            <img src="{% static 'bookkeeper/bill.svg' %}">
          </a>
        </td>
        <td>{{ transaction.date }}</td>
        <td style="text-align: right;">{{ transaction.tax_excl|money }}</td>
        <td style="text-align: right;">{{ transaction.tax_incl|money }}</td>

        {% else %}

        <td class="button-image-cell">
          <a href="{{ transaction.get_absolute_url }}">
            <img src="{% static 'bookkeeper/bank.svg' %}">
          </a>
        </td>
        <td>{{ transaction.date }}</td>
        <td style="text-align: right;">{{ transaction.tax_excl|money:False }}</td>
        <td style="text-align: right;">{{ transaction.tax_incl|money:False }}</td>

        {% endif %}
          <td>{{ transaction.evidence_ref }}</td>
          <td>{{ transaction.payee }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="6">No transaction</td></tr>
      {% endfor %}
    </table>
  </details>
{% endblock %}
