{% extends "./base.html" %}
{% load static %}

{% block content %}
<article>
  <header>
    <a href="" role="button" class="secondary" style="float: right;"
       hx-delete="{{ self.request }}"
       hx-confirm="Are you sure you want to delete this transaction ?"
       hx-swap="none">Delete</a>
    <a href="{% url 'transaction-edit' transaction.pk %}"
        role="button" style="float: right;">Edit</a>
    <h3>{{ transaction.payee }}</h3>
  </header>
  <body>
  <div class="grid">

    <div>
      <p>
        {% if transaction.clearable %}
        <img src="{% static 'bookkeeper/bill.svg' %}" style="max-height: 30px;">
        {% else %}
        <img src="{% static 'bookkeeper/bank.svg' %}" style="max-height: 30px;">
        {% endif %}
        Transaction #{{ transaction.pk }}
      </p>
      <ul>
        <li style="list-style-type: none;">Date: {{ transaction.date }}</li>
        {% if transaction.budget %}
        <li style="list-style-type: none;">Budget: <a href="{% url 'budget-detail' transaction.budget.code %}">{{ transaction.budget }}</a></li>
        {% endif %}
        <li style="list-style-type: none;">Reference: {{ transaction.evidence_ref }}</li>
      </ul>
      {% if transaction.evidence %}
      <embed src="{{ transaction.evidence.url }}" type="application/pdf"
          width="100%" style="min-height:600px;margin-bottom:1rem;">
      {% else %}
      <em>This transaction has no evidence</em>
      {% endif %}
    </div>

    <div>
      <p>
        <img src="{% static 'bookkeeper/crossroads.svg' %}" style="max-height: 30px;">
        Accounts:
      </p>
      <table>
        <tr>
          <th>Debits</th>
          <th>Credits</th>
        </tr>
        <tr>
          <td>
            <ul>
              {% for posting in transaction.postings.all %}
              {% if posting.amount >= 0 %}
              <li>{{ posting.account }}: {{ posting.amount }}</li>
              {% endif %}
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul>
              {% for posting in transaction.postings.all %}
              {% if posting.amount < 0 %}
              <li>{{ posting.account }}: {{ posting.amount }}</li>
              {% endif %}
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
      <p>
        <img src="{% static 'bookkeeper/chain.svg' %}" style="max-height: 30px;">
        Transactions in group:
      </p>
      {% if transaction.group %}
        <ul>
          {% for transaction in transaction.group.transactions.all %}
          <li style="list-style-type: none;">#{{ transaction.pk }} - {{ transaction.date }} - {{ transaction.payee }}</li>
          {% endfor %}
          <li style="list-style-type: none;">
            <em><a href="{{ transaction.group.get_absolute_url }}">see the group</a></em>
          </li>
        </ul>
        {% else %}
        <em>This transaction is not associated</em>
          <input type="hidden" name="id" value="{{ transaction.pk }}">
          <button
             hx-post="{% url 'transaction-group-create' %}"
             hx-include="[name='id']"
             hx-swap="none">New group</button>
        {% endif %}

      {% if transaction.notes %}
      <p><em>"{{ transaction.notes }}"</em></p>
      {% endif %}


    </div>
  </div>
  </body>
</article>
{% endblock %}
