{% load money %}
<table role="grid">
  <tr>
      <th>Account</th>
      <th>Description</th>
      <th>Balance</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td>{{ account }}</td>
    <td><em>{{ account.description }}</em></td>
    <td>{{ account.balance|money:False }}</td>
  </tr>
  {% empty %}
  <tr><td colspan="3">No transaction</td></tr>
  {% endfor %}
</table>
