{% extends "./transaction_base_form.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <div style="color: red">{{ formset.non_form_errors|first|escape }}</div>
    {{ formset.management_form }}
    <ul id="postings">
      {% for pform in formset %}
      <li style="display: inline-flex;">
          {{ pform.id|add_error_attr:"aria-invalid:true" }}
          {{ pform.account|add_error_attr:"aria-invalid:true" }}
          {{ pform.amount|add_error_attr:"aria-invalid:true" }}
      </li>
      {% endfor %}
    </ul>
    <a href="" role="button" id="add-posting" class="secondary" style="float: right;"
      >+</a>
    <script type="text/javascript">
        // adding new postings
        document.getElementById("add-posting").addEventListener('click', function(event) {
          event.preventDefault();
          let listPostings = document.querySelector("#postings");
          let totalForms = document.querySelector("#id_postings-TOTAL_FORMS");
          // clone the template form
          let newPosting = document.querySelector("#postings > li:last-child").cloneNode(true);
          // insert the new form at the en of the list
          newPosting.innerHTML = newPosting.innerHTML.replace(RegExp(`postings-(\\d){1}-`, 'g'), `postings-${totalForms.value}-`);
          listPostings.insertAdjacentElement('beforeend', newPosting);
          // increment totalForms
          totalForms.setAttribute('value', parseInt(totalForms.value) + 1)
        });
    </script>

{% endblock %}
