{% extends "./transaction_base_form.html" %}
{% load widget_tweaks %}

{% block content %}

  {{ form.amount|add_error_attr:"aria-invalid:true" }}
  <div style="color: red">{{ form.amount.errors|first|escape }}</div>

  <div class="grid">
    {{ form.vat|add_error_attr:"aria-invalid:true" }}
    <select
        _="on change
              set amount to the (value of <input#id_amount/>) as a Float
              set coef to the (first <option:checked/> in me).value as a Float
              put amount * coef into the (value of <input#id_vat/>)"
      >
      <option disabled selected value>%</option>
      <option value="0.2">20%</option>
      <option value="0.1">10%</option>
      <option value="0.055">5.5%</option>
      <option value="0">0%</option>
    </select>
  </div>
  <div style="color: red">{{ form.vat.errors|first|escape }}</div>

{% endblock %}
