{% load widget_tweaks %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
{% endif %}

<div class="grid">
  <div>
    <h6>Informations</h6>

    {{ form.budget|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.budget.errors|first|escape }}</div>

    {{ form.date|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.date.evidence.errors|first|escape }}</div>

    {{ form.payee|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.payee.errors|first|escape }}</div>

    <h6>Evidence</h6>

    {{ form.evidence_ref|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.evidence_ref.errors|first|escape }}</div>

    {{ form.evidence|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.evidence.errors|first|escape }}</div>
  </div>

  <div>
    <h6>Amounts</h6>
    {% block content %}{% endblock %}
  </div>
</div>

<details>
  <summary>Notes</summary>
  {{ form.notes|add_error_attr:"aria-invalid:true" }}
</details>
