{% load widget_tweaks %}

{% if form.non_field_errors %}
<div style="color: red;">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>
{% endif %}

<div class="grid">
  {{ form.budget }}
  {{ form.target }}
</div>

<div class="grid">
  {{ form.date|add_error_attr:"aria-invalid:true" }}
  {{ form.amount|add_error_attr:"aria-invalid:true" }}
  {{ form.account|add_error_attr:"aria-invalid:true" }}
</div>

<details>
  <summary>Notes</summary>
  {{ form.notes|add_error_attr:"aria-invalid:true" }}
</details>
