{% load static %}
<div>
  <div class="grid">
    {{ form.budget }}
    {{ form.year }}
    {{ form.search }}
  </div>
  <fieldset>
    <img class="htmx-indicator" src="{% static 'bookkeeper/bars.svg' %}" style="height: 30px;">
    <label for="{{ form.pending.id_for_label }}" style="display: inline-block;">
      {{ form.pending }}
      {{ form.pending.label }}
    </label>
    <label for="{{ form.proof.id_for_label }}" style="display: inline-block;">
      {{ form.proof }}
      {{ form.proof.label }}
    </label>
    <label for="{{ form.record.id_for_label }}" style="display: inline-block;">
      {{ form.record }}
      {{ form.record.label }}
    </label>
    <label for="{{ form.operation.id_for_label }}" style="display: inline-block;">
      {{ form.operation }}
      {{ form.operation.label }}
    </label>
    <label for="{{ form.group.id_for_label }}" style="display: inline-block;">
      {{ form.group }}
      {{ form.group.label }}
    </label>
  </fieldset>
</div>
