{% load widget_tweaks %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
{% endif %}

<div class="grid">
  <div>
    <h6>Informations</h6>

    {{ form.budget|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.budget.errors|first|escape }}</div>

    {{ form.date|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.date.evidence.errors|first|escape }}</div>

    {{ form.payee|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.payee.errors|first|escape }}</div>

    <h6>Evidence</h6>

    {{ form.evidence_ref|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.evidence_ref.errors|first|escape }}</div>

    {{ form.evidence|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.evidence.errors|first|escape }}</div>
  </div>

  <div>
    <h6>Amounts</h6>
    {% if formset %}

    <div style="color: red">{{ formset.non_form_errors|first|escape }}</div>
    {{ formset.management_form }}
    <ul id="postings">
      {% for pform in formset %}
      <li style="display: inline-flex;">
          {{ pform.id|add_error_attr:"aria-invalid:true" }}
          {{ pform.account|add_error_attr:"aria-invalid:true" }}
          {{ pform.amount|add_error_attr:"aria-invalid:true" }}
      </li>
      {% endfor %}
    </ul>
    <a href="" role="button" id="add-posting" class="secondary"
      style="float: right;">Add entry</a>

    <script type="text/javascript">
        // adding new postings
        document.getElementById("add-posting").addEventListener('click', function(event) {
          event.preventDefault();
          let listPostings = document.querySelector("#postings");
          let totalForms = document.querySelector("#id_postings-TOTAL_FORMS");
          // clone the template form
          let newPosting = document.querySelector("#postings > li:last-child").cloneNode(true);
          // insert the new form at the en of the list
          newPosting.innerHTML = newPosting.innerHTML.replace(RegExp(`postings-(\\d){1}-`, 'g'), `postings-${totalForms.value}-`);
          listPostings.insertAdjacentElement('beforeend', newPosting);
          // increment totalForms
          totalForms.setAttribute('value', parseInt(totalForms.value) + 1)
        });
    </script>

    {% else %}

      {{ form.amount|add_error_attr:"aria-invalid:true" }}
      <div style="color: red">{{ form.amount.errors|first|escape }}</div>

      {{ form.bp|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.bp.errors|first|escape }}</div>

      {{ form.vat|add_error_attr:"aria-invalid:true" }}
    <div style="color: red">{{ form.vat.errors|first|escape }}</div>

    {% endif %}
  </div>
</div>

<details>
  <summary>Notes</summary>
  {{ form.notes|add_error_attr:"aria-invalid:true" }}
</details>
