.button-image-cell {
    padding: 0;
    text-aglin: center;
}
.button-image-cell input {
    all: unset;
}
.button-image-cell * {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    width: auto !important;
}
.button-image-cell img,
.button-image-cell input {
    padding: 0;
    max-height: calc(var(--font-size) + var(--spacing));
    cursor: pointer;
}

table.grouped tbody:nth-child(even) td{
    background-color: var(--table-row-stripped-background-color);;
}
